<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta property="og:title" content="Handbook for a bearable workspace" />
    <meta property="og:type" content="article" />
<!--     <meta property="og:url" content="http://hackdaymanifesto.com/" /> -->
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Universal Workspace" />
    <meta property="fb:admins" content="801305146" />
    <meta itemprop="name" content="Handbook for a bearable workspace">
    <meta itemprop="description" content="In the search of a good enough place to work from">
    <link rel="stylesheet" href="{{ site.baseurl }}css/reset.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/site.css">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://use.typekit.com/czp0aft.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
    <article>
        {{ content }}
        <a class="github" href="https://github.com/danilosierrac/workspace"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
        <div class="share">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://danilosierrac.github.io/workspace/%2F&amp;t=Bearable+Workspace" target="_blank"><img src="http://sharenice.org/images/facebook_com.png" width="16" height="16" alt="Share on Facebook"> Facebook</a>
            <a href="https://twitter.com/intent/tweet?text=Bearable%Workspace%20%23Bearableworkspace&amp;url=http%3A%2F%2danilosierrac.github.io/workspace/.com%2F" target="_blank"><img src="http://sharenice.org/images/twitter_com.png" width="16" height="16" alt="Share on Twitter"> Tweet</a>
        </div>
    </article>
    <footer>
        <a href="https://twitter.com/share" class="twitter-share-button" style="inline" data-text="Lets improve our workspace!" data-via="bootsbosley">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <p><small>&copy; 2014 <a href='http://creativecommons.org/licenses/by/3.0/'>SOME RIGHTS RESERVED</a></small></p>
        <p><small>Inspired by <a href='http://hackdaymanifesto.com/'>The Hack Day Manifesto</a></small></p> 
    </footer>
</body>
</html>